$breakpoints: (
  sm: 600px,
  md: 960px,
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

$theme: (
  primary: #4267b2,
  text: #555,
  lightgray: #ededed,
);

@function theme($key) {
  @if map-has-key($theme, $key) {
    @return map-get($theme, $key);
  }

  @warn "Unknown `#{$key}` in $theme.";
  @return null;
}

$header-height: 60px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: calc(#{$header-height} + 1.5rem) 1rem 1rem 1rem;
}
