@import '../../styles/global.scss';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000000, 0.75);
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    max-width: 400px;
    max-height: 80vh;
    overflow: scroll;
    width: 80vw;
    height: fit-content;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1.5rem;
    position: relative;

    .img_container {
      width: auto;
      height: auto;
      max-width: 100%;
      display: flex;
      justify-content: center;

      .img_placeholder {
        height: 128px;
        width: 128px;
        background-color: theme(lightgray);
        border-radius: 100%;
        margin-bottom: 1rem;
      }

      img {
        border-radius: 100%;
        margin-bottom: 1rem;
      }
    }

    .spacer {
      margin: 1rem 0;

      small {
        color: theme(text);
      }

      span {
        display: block;
      }
    }

    .button_container {
      width: 100%;
      text-align: right;

      button {
        margin-left: auto;
        border: none;
        background: transparent;
        padding: 0.25rem;
        cursor: pointer;
        font-weight: bold;
        font-size: 0.9rem;
      }
    }
  }
}
