@import '../../styles/global.scss';

.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: #fff;
  box-shadow: 0 5px 5px #0000001a;
  padding: 1rem;
}
