@import '../../styles/global.scss';

@mixin pagination-style() {
  padding: 0.5rem 0.75rem;
  border: 2px solid theme(primary);
  border-radius: 0.5rem;
}

.root {
  display: block;
  max-width: 100%;

  .tableWrap {
    display: block;
    max-width: 100%;

    @include respond-to(sm) {
      overflow-x: scroll;
    }

    table {
      width: 100%;
      border-spacing: 0;

      thead {
        text-align: left;

        th {
          padding: 0.75rem;
          font-size: 0.9rem;
          font-weight: lighter;
          color: theme(text);
          width: 1%;
          position: sticky;
          top: 0;
          background: #fff;

          &.collapse {
            width: 0.0000000001%;
          }
        }
      }

      tbody {
        tr {
          &:hover {
            background-color: theme(lightgray);
            cursor: pointer;
          }

          td {
            border-bottom: 1px solid theme(lightgray);
            padding: 1rem 0.75rem;
            color: theme(text);
            font-size: 0.9rem;
            width: 1%;
            &.collapse {
              width: 0.0000000001%;
            }
          }
        }
      }
    }
  }
}

.pagination {
  margin-top: 1rem;

  @include respond-to(sm) {
    text-align: center;
    margin-top: 1.5rem;
  }

  > *:not(:last-child) {
    margin-right: 0.5rem;
  }

  button {
    background-color: theme(primary);
    cursor: pointer;
    transition: 150ms;
    color: #fff;

    @include pagination-style();

    &:hover {
      background-color: transparent;
      color: theme(text);
    }

    &:disabled {
      border: 2px solid theme(text);
      cursor: default;
      background-color: transparent;
      color: theme(text);
    }

    &:focus {
      outline: none;
    }
  }

  select {
    @include pagination-style();
    background: transparent;

    &:focus {
      outline: none;
    }
  }
}
