table {
  width: 100%;
  overflow: scroll;
  position: relative;

  tr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: auto;
    grid-gap: 0.5rem;
    text-align: left;
  }
  thead {
    tr {
      position: sticky;
      top: 0;
      background: #fff;
      th {
        padding: 0.75rem;
        font-size: 0.9rem;
        font-weight: lighter;
        color: rgba(0, 0, 0, 0.3);
        width: 100%;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid #ededed;

      td {
        padding: 1rem 0.75rem;
        color: #555;
        font-size: 0.9rem;
      }
    }

    tr:hover {
      background-color: #ededed;
      cursor: pointer;
    }
  }
}
